*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(135, 216, 212);
    text-align: center;
    padding: 15px;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.selector{
    background-color: white;
    border-style: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn {
    border-color: lightseagreen;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn:hover{
    background-color: black;
    color: rgb(135, 216, 212);
}
.name {
    color: wheat;
    font-size:xx-large;
}
.reset {
    background-color: black;
    color: rgb(135, 216, 212);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hidden {
    display: none;
}